/* Chat Container */

.chat-container {
  background-color: rgba(249, 249, 249, 1);
  box-shadow: rgba(0, 0, 0, 0.05) 0 0.4em 1.4em 0.4em,
    rgba(0, 0, 0, 0.08) 0 0 0 0.1em;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 30%;
  z-index: 1;
}

.chat-container .options {
  background-color: rgba(249, 249, 249, 1);
  border: none;
  border-bottom: solid 0.25em rgba(244, 65, 108, 1);
  font-size: 1.25rem;
  margin: 0.1em;
  padding: 0.6em;
}

.chat-container .options:disabled {
  border-bottom: solid 0.25em rgba(244, 65, 108, 0.5);
}

.chat-container .profile,
.chat-container .log-out-icon {
  align-items: center;
  color: rgba(249, 249, 249, 1);
  display: flex;
  padding: 1.25em;
}

.img-container {
  border-radius: 1em;
  height: 1.9em;
  overflow: hidden;
  margin: 0.6em;
  width: 1.9em;
}

.img-container img {
  width: 100%;
}

/* Chat Header */
.chat-container .chat-header-container {
  align-items: center;
  background-color: rgba(244, 65, 108, 1);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 6.25em;
  justify-content: space-between;
  padding: 0 0.6em;
}

/* Chat Display */

/* Chat */
.chat {
  height: 60vh;
  overflow-y: auto;
  padding: 1.25em;
}

/* Chat Input */
.chat-input {
  align-items: left;
  display: flex;
  padding: 1.25em;
  flex-direction: column;
}

.chat-input textarea {
  margin: 0.4em;
  padding: 0.75em 1.8em;
}

.chat-input button {
  word-wrap: break-word;
}
