/* Tinder Card */
.swipe {
  position: absolute;
}

.cardContainer {
  width: 19em; /* 25em width and 40em height*/
  height: 38em;
}

.card {
  width: 19em;
  height: 38em;
  border-radius: 1.8em;
  background-size: cover;
  background-position: center;
}

.card h3 {
  margin-top: 0;
}

/* Dashboard */
.dashboard {
  background-color: rgba(249, 249, 249, 1);
  display: flex;
  height: 100vh;
  justify-content: space-between;
  width: 100vw;
}

.card-container {
  height: 38em;
  width: 19em;
}

.swipe-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 70%;
}

.swipe-info {
  margin-top: 0.5em;
  position: relative;
}
