nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

nav .logo-container {
  width: 15%;
  margin: 1em;
}

nav .logo-container .logo {
  width: 100%;
}

nav .nav-button {
  color: rgba(244, 65, 108, 1);
  cursor: pointer;
  background-color: rgba(249, 249, 249, 1);
  font-size: 1.25rem;
  padding: 0.65em 1.25em;
  border-radius: 0.65em;
  border: none;
  margin: 0.65em;
}

nav .nav-button:disabled {
  background-color: rgba(179, 170, 170, 0.6);
  cursor: default;
}
